.activites{
    max-width: 1400px;
    width: 100%;
    border: 3px solid #000;
    background: #ffffff;
    height: 800px;    
}

.activites h3{
    padding: 30px 30px;
    color: brown;
}

.activ-list{
   max-width: 1398px;
   width: 100%;
   height: auto;
   margin: 10px auto;
   border: 3px solid #3ee800;
   display: flex;
   position: relative;
   justify-content: space-between;

}

.activite-item{
    box-shadow: 0 0 20px #0000002e;
    transition-duration: 0.1s;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: xx-large;  */
    width: 23%;   
    height: 545px;  
}




  @media screen and (max-width: 991px) {
    body{
        margin: 0 20px;
        /* background: #ecd9d9; */

    }

    .activ-list {
      background-color: blue;
      max-width: 990px;   
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 50px;
      border-color: red;

    }

  }
  @media screen and (max-width: 767px) {
    body{
        margin: 0 20px;
        /* background: #ecd9d9; */

    }

    .activ-list {
      background-color: blue;
      max-width: 990px; 
      height: auto;  
      display: flex;
      flex-direction: column;
      /* flex-wrap: wrap;
      justify-content: space-around; */
      row-gap: 50px;
      border-color: red;

    }
    .activite-item{
        box-shadow: 0 0 20px #0000002e;
        transition-duration: 0.1s;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        /* font-size: xx-large;  */
        width: 100%;   
        height: 545px;  
    }
    .activites{
   
        width: 100%;
        border: 3px solid #000;
        background: #ea6b6b;
        height: auto; 
        border-radius: 15px;   
    }

  }