
/* filter */

.filtres-list {
  max-width: 700px;
  width: 100%;
  height: auto;
  display: flex;
  /* border: 3px solid #8fd60c; */
}

.filters-title {
  display: flex;
  align-items: center;
  /* border: 2px solid #af5151;*/ 
  font-size: 17px;
  line-height: 19px;
}

.filters-items {
  display: flex;
  flex-wrap: wrap;
 /* width: 90%; */
   flex-grow: 1; 
  /* border: 1px solid #000; */
  justify-content: space-between;
  align-items: center;
  font-weight:700;
  font-size:17px;
}

.filter-item {
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  display: flex;
  /* height: 59px; */
  align-items: center;
  /* flex-grow: 1; */
}

.filter-item:hover{
  background: #deebff;
}

.i-span-filter {
    /* border: 1px solid #000; */
    /* background: #deebff; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px; 
  border-radius: 50% 50%;
  color: #0065fc;
}

.filter-item p {
  /* color: #d60c0c; */
  padding: 0 15px 0 0;
  font-size: 15px;
}


/* INFO  */
.info {
  margin: 30px 0 ;
  /* padding: 20px 0; */
  display: flex;
  align-items: center;
  max-width: 500px;
  height: auto;
  background: #ffffff; 
}

.info span {
  border: 1px solid #f2f2f2;
  margin: 0 7px 0 0;
  font-size: 11px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #0065fc;
}

@media screen and (max-width: 991px) { 

  .filters-title {
    /* background-color: rgb(150, 150, 231); */
    width: 100%;
  }
  .filtres-list {
    width: 85%;
    height: auto;
    display: flex;
    /* border: 3px solid #d60c0c; */
    background: #ffffff;
  }
}

/* MEDIA QUERIES MOBILE  */

@media screen and (max-width: 767px) {
  
  .filters-title {
    /* background-color: rgb(150, 150, 231); */
    width: 100%;
    margin-top: 15px;
  }

  .filtres-list{
    width: 100%;
  }


  .filters-items {
    height: auto;
 
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 15px;
    /* border: 1px solid #000; */
    justify-content: space-around;
    align-content: space-between;
  }

  .i-span-filter {
      /* border: 1px solid #000; */
      /* background: #deebff; */
 
    align-items: center;
    justify-content: center;
    max-width: 39px;
    height: 39px;
    border-radius: 50% 50%;
    color: #0065fc;
  }

  .filter-item {
    /* border: 2px solid #000; */
    border-radius: 50px;
 
    height: 59px;
    align-items: center;
    width: 47%;
  }

  .accroche, .filters-items{
    margin: 0 25px;
  }
}