.accroche {
  /* margin-top: 1vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}
.accroche form {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 415px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 10px;
}

form .test {
  border: 1px solid #000;
  /* width: 50px; */
  /* height: 6vh; */
  margin: 0;
  /*display: block;*/
  /* border-radius: 10px; */
  height: 100%;
  padding: 0 15px;
  flex-grow: 2;
}

form .label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.filtres-list {
  max-width: 950px;
  height: auto;
  display: flex;
  border: 3px solid #d60c0c;
  justify-content: space-between;
  /* margin: 20px 0; */
}

.filters-title {
  display: flex;
  align-items: center;
  border: 2px solid #af5151;
  padding-right: 30px;
  font-size: large;
}

.filters-items {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  border: 1px solid #000;
  justify-content: space-between;
  align-items: center;
}

.filter-item {
  border: 2px solid #000;
  border-radius: 50px;
  display: flex;
  height: 59px;
  align-items: center;
}

.i-span-filter {
    border: 1px solid #000;
    background: #deebff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 59px;

  border-radius: 50% 50%;
  color: #0065fc;
}

.filter-item p {
  color: #d60c0c;
  padding: 0 15px;
}

.info {
  margin: 20px 0 20px 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  max-width: 500px;
  height: auto;
}
.info span {
  border: 1px solid #000;
  margin: 0 15px 0 0;
  display: block;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .filters-title {
    background-color: rgb(150, 150, 231);
    width: 100%;
  }

  .filter-item {
    /* display: flex; */
    width: 40%;
  }

  .filters-items {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 15px;
    border: 1px solid #000;
    justify-content: space-around;
    align-content: space-between;
  }

  .i-span-filter {
      border: 1px solid #000;
      background: #deebff;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 39px;
    height: 39px;
    border-radius: 50% 50%;
    color: #0065fc;
  }

  .filter-item {
    border: 2px solid #000;
    border-radius: 50px;
    display: flex;
    height: 39px;
    align-items: center;
  }

  .accroche form {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0 auto;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}
