.hebergements {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border: 3px solid #0e15e0; */
  justify-content: space-between;
  /* border-radius: 15px; */
  /* background: #de5a5a; */
}

.heberger,
.popu {
  /* border: 3px solid #84ed28; */
  border-radius: 15px;
  background: #f2f2f2; 
   padding: 30px 30px;
   gap: 30px;
}

.heberger {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 /*  */
 /* gap: 10px; */
}
.heberger-plus a {
  color: inherit;
}


.cards {
  /* border: 5px solid #000000; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center; 
  margin-top: 10px;
}

.cards-card {
  display: flex;
  width: 33%;
  min-width: 100px;
  height: 50%;
  /* border: 3px solid #ff0000; */
  border-radius: 10px 10px 0 0;
}

.card {
  height: auto;
  width: 95%;
  /* border: 3px solid #fff200; */
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #0000002e;
}

.card a{
  width: 100%;
  /* border: 1px solid #000; */
  height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 color: inherit;
}

.card img {
  height: 120px;
  margin: 5px 5px 0 5px;
  border-radius: 15px 15px 0 0;
  width: 96%;
}

 .container2{
  display: flex;
  flex-direction: column;
  gap: 5px;
 /* border: 2px solid #1aff00;  */
 width: 100%;
}

.container2 h4{
  padding-bottom: 5px;
  font-size: 16px;
}

.container2 p{
  padding-bottom: 0;
  font-size: 14px;
}

.star1{
  display: flex;
  width: 60%;
  color: #0065fc;
  /* margin-top: 75px; */
  /* border: 1px solid #000; */
}

.star1 span:nth-last-child(-n + 1){
  color: rgb(153, 149, 149);
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 991px) {
  .heberger {
    /* background-color: rgb(251, 255, 0); */
    width: 100%;
  }

  .cards {
    display: flex;
    /* border: 5px solid #000; */
    /* flex-direction: column; */
    width: 100%;
  }

  

}
/* On screens that are 767px or less */
@media screen and (max-width: 767px) {
  .heberger {
    background-color: rgb(255, 255, 255);
    width: 100%;
    order: 2;
    height: auto;
    display: flex;
    flex-direction: column; 
  }

  .hebergements{
    height: auto;
    width: 100%;
    /* gap: 50px; */
    /* border: 5px solid #000; */
  }

  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* background: #bd6565; */
    margin: 0 auto;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
  }

  .cards-card {
    width: 100%;
  }

  .card{
    height: auto;
  width: 100%;
  margin: auto;
  /* border: 1px solid #e71313; */
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  }

  .card .container2{
    width: 100%;
    border-radius:  10px 10px 10px 10px ;
    background: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .card img {
    width: 97%;
    max-width: 670px;
    height: 130px;
    margin: auto;
    border-radius: 15px 15px 0 0 ;
    padding-top: 6px;
  }

  .star1{
    padding-top: 2px;
   /* border: 1px solid #000; */ 
  }

}
 