.hebergements {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 3px solid #0e15e0;
  justify-self: unset;
  justify-content: space-between;
  border-radius: 15px;
  /* height: 100px; */
}

.heberger,
.popu {
  border: 1px solid #000;
  border-radius: 15px;
  background: #f2f2f2;
}

.heberger {
  width: 65%;
}

.heberger-title,
.popu-title {
  padding: 30px 30px;
}

.cards {
  border: 2px solid #c70d0d;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}

.cards-card {
  max-width: 256px;
  min-width: 240px;
  height: 200px;
  border: 1px solid #065582;
  border-radius: 10px 10px 0 0;
}

.card {
  height: 190px;
  max-width: 244px;
  border: 1px solid #e71313;
  margin: 5px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.card img {
  max-width: 244px;
  max-height: 112px;
  /* margin: 5px 5px; */
  border-radius: 10px 10px 0 0;
  width: 100%;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 991px) {
  .heberger {
    background-color: rgb(251, 255, 0);
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .cards-card {
    width: 100%;
  }
}
/* On screens that are 767px or less */
@media screen and (max-width: 767px) {
  .heberger {
    background-color: rgb(30, 255, 0);
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cards-card {
    width: 100%;
  }
}
