.popu{
    width: 33%;
}
.popu-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popu-info span{
    padding: 0 30px 0 0;
}

.cards2{
    display: flex; 
    width: 100%;
    height: 150px;
    align-content: center; 
    justify-content: center; 
    border: 2px solid #f50b0b;
    margin-bottom: 5%;
}

.card2{
    display: flex;
    width: 90%;
    height: 140px;
    border: 1px solid #000;
    /* margin: 10px; */
    border-radius: 20px;
    align-items: center;
    justify-content: center;
   
}

.card2 img{
    border-radius: 20px 0px 0px 20px;
    height: 130px;
    width: 35%;

}


.container2, .pop-main{
    /* max-width: 300px; */
    padding: 0 0 0 15px;
    background: #e46d6d;
    
}

.pop-main{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 130px;
    width: 63%;

}

.container2 span:nth-last-child(-n + 2){
    color: rgb(153, 149, 149);
}


  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 991px) {
    .popu {
      background-color: blue;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .cards2{
        /* display: flex; */
        width: 33%;
    }

    .popu-info{
        width: 100%;
    }
}


/* On screens that are 767px or less, set the background color to blue */
@media screen and (max-width: 767PX) {
  .popu {
    background-color: rgb(255, 0, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 1500px; */
  }

  .cards2{
    /* display: flex; */
    width: 100%;
}

  
}