/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  list-style: none;
  text-decoration: none;
}

#container, .footer, .header{
  padding: 0 35px;
  max-width: 1400px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 1400px; */
  height: 79px;
  margin: 0 auto;
  background: #ffffff;
  justify-content: space-between;
  padding: 0;
}

.header img {
  margin: 0;
  width: 60px;
  height: 20px;
  margin: auto 20px;
}

.header-nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  width: 23%;
}

.menu-link {
  height: 100%;
  font-size: medium;
  display: flex;
  justify-content: center;
  border-top: 3px solid white;
  color: black;
  padding-top: 15px;
  font-style: normal;
  font-weight: 100px;
  font-size: 18px;
  line-height: 1.5;
}

.menu-link:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
  transition-duration: 0.2s;
}

#container {
  /* max-width: 1400px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  /* border: 1px solid #000; */
}

#main {
  width: 100%;
}

.span-price {
  font-weight: bold;
}


/* -------------MediaQueries--- */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  #container {
    /* background-color: blue; */
    max-width: 992px;
  }
  .menu-link {
    border: 3px solid transparent;
  }
  .menu-link:hover {
    border-top: 3px solid #0065fc;
  }
  .header-nav {
    width: 30%;
    margin-right: 5px;
  }

  .header {
    padding-left: 20px;
  }
}

/* On screens that are 767px or less */
@media screen and (max-width: 767px) {
  #container {
    max-width: 767px;
  }

  #container,
  .footer {
    padding: 0;
  }

  .header {
    justify-content: center;
    height: auto;
    width: 100%;
    padding-left: 0;
    margin-bottom: 15px;
  }

  .header img {
    margin-top: 30px;
  }

  .header-nav {
    width: 100%;
  }

  .menu-link {
    border-bottom: 3px solid #ffffff;
    flex-grow: 1;
  }
  .menu-link:hover {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #0065fc;
  }

  .header-nav {
    height: auto;
  }
}
